# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Vim temp file
*.swp

# IPython Notebook checkpoints
.ipynb_checkpoints

# LaTeX stuff:
*.aux
*.lof
*.log
*.lot
*.toc
thesis.pdf
*.dvi
*.bbl
*.blg
*.gz

# Markdown examples
Part 4 - Markdown Cells.ipynb

# Thesis manual and sample files
rpithesis-doc.pdf
rpichap1.tex
rpichap2.tex

# default ipython profile stuff
notebook/profile/README
notebook/profile/profile_default/
notebook/profile/profile_thesis/ipython_config.py
notebook/profile/profile_thesis/ipython_nbconvert_config.py
notebook/profile/profile_thesis/ipython_qtconsole_config.py
notebook/profile/profile_thesis/security/
notebook/profile/profile_thesis/startup/
notebook/profile/profile_thesis/static/

# ignore notebooks for now
notebook/

# thoughts not to publish
thoughts/2014-08-18-writing.txt
thoughts/2014-08-19-writing.txt
thoughts/chapters-related-work-and-committee-members-2014-07-23.txt
thoughts/2014-08-30-worry.txt
thoughts/2014-08-31-diary.txt
thoughts/2014-09-01-diary.txt

# compiled python modules
*.pyc

