# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Vim temp file
*.swp

# IPython Notebook checkpoints
.ipynb_checkpoints

# LaTeX stuff:
*.aux
*.lof
*.log
*.lot
*.toc
thesis.pdf
*.dvi
*.bbl
*.blg
*.gz

# Markdown examples
Part 4 - Markdown Cells.ipynb

# Thesis manual and sample files
rpithesis-doc.pdf
rpichap1.tex
rpichap2.tex

# default ipython profile stuff
notebook/profile/README
notebook/profile/profile_default/
notebook/profile/profile_thesis/ipython_config.py
notebook/profile/profile_thesis/ipython_nbconvert_config.py
notebook/profile/profile_thesis/ipython_qtconsole_config.py
notebook/profile/profile_thesis/security/
notebook/profile/profile_thesis/startup/
notebook/profile/profile_thesis/static/

# ignore notebooks for now
notebook/

# thoughts not to publish
thoughts/2014-08-18-writing.txt
thoughts/2014-08-19-writing.txt
thoughts/chapters-related-work-and-committee-members-2014-07-23.txt
thoughts/2014-08-30-worry.txt
thoughts/2014-08-31-diary.txt
thoughts/2014-09-01-diary.txt

# compiled python modules
*.pyc

# just ignore
Git Bash.lnk
model/.cmapthumbs/
model/cmaps/.cmapthumbs/
model/cmaps/PROV-PUB.cmap
model/cmaps/figure4.2.cmap
model/cmaps/figure4.3.cmap
model/cmaps/project.idx
model/cmaps/prov-pub-example-old.cmap
model/ontology/prov-pub/PROV-PUB-O_P.html
model/ontology/prov-pub/PROV-PUB-O_P.html~
model/ontology/prov-pub/PROV-PUB-O_P_files/
model/ontology/prov-pub/PROV-PUB-O_S.html~
model/ontology/prov-pub/index.html~
model/ontology/prov-pub/prov-pub-p-example.png
project.idx
rpistyle.bst
rpistyle.dbj
scripts/.RData
scripts/.Rhistory
scripts/CDODiv2177686828992.txt
scripts/New folder/
scripts/Untitled2.ipynb
scripts/Untitled3.ipynb
scripts/cmd.exe.lnk
scripts/echokernel.py
scripts/input.txt
scripts/nca3chapter4figure2.ipynb
scripts/nca3chapter4figure2no-output.ipynb
scripts/pandas-test.ipynb
scripts/parse-xml.ipynb
scripts/project.idx
scripts/prov-file.ttl
scripts/prov.txt
scripts/provkernel.py
scripts/proxykernel.py
scripts/rdflib-test.ipynb
scripts/replication-demos.ipynb
scripts/replicationDemos_1.05.zip
scripts/replicationDemos_1.13.zip
scripts/test-based-on-nca3chapter4figure2.ipynb
scripts/test-out.csv
scripts/test1.ipynb
scripts/test_prov.ipynb
steps-in-a-typical-data-analysis-r-in-action-p4-figure1.1.pptx
thesis.dbj
thoughts/2014-06-23-email2deborah.txt
thoughts/2015-09-18-semiotics.txt
thoughts/2015-09-23-nca3chapter4.txt
thoughts/2015-09-27-jupyter-notebook-extraction.txt
thoughts/2015-10-21-limitations.txt
thoughts/2015-10-21-python-extraction.txt
thoughts/2015-10-21-r-extraction.txt
thoughts/2015-10-25-prototype.txt
thoughts/2015-10-29-activity-classification.txt
thoughts/2015-11-04-what-authors-need-to-do.txt
thoughts/2015-11-05-survey-ideas.txt
thoughts/project.idx
thoughts/provenance-model-and-granularity.txt
thoughts/pubs-thoughts.txt

