# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Vim temp file
*.swp

# IPython Notebook checkpoints
.ipynb_checkpoints

# LaTeX stuff:
*.aux
*.lof
*.log
*.lot
*.toc
*.pdf
*.dvi
*.bbl
*.blg

# Markdown examples
Part 4 - Markdown Cells.ipynb

# Thesis manual and sample files
rpithesis-doc.pdf
rpichap1.tex
rpichap2.tex

